.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
}

.logo {
	position: relative;
}

.image {
	aspect-ratio: 1/1;
	position: relative;
	width: 50%;
	height: auto;
}
